<div>
  <ul>
    <li>
      <%= link_to 'Home', root_path %>
    </li>
    <li>
      <%= link_to 'Welcome Page', welcome_path(1) %>
    </li>
    <li>
      <%= link_to 'About Us', about_path %>
    </li>
    <li>
      <%= link_to 'Contact Form', contact_path %>
    </li>
    <li>
      <%= link_to 'All Cities', cities_path %>
    </li>
  </ul>
</div>