<h2>Form Partial</h2>

<% if @country.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@country.errors.count, "error") %>
      prevented this country from being saved:
    </h2>
    <ul>
      <% @country.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@country) do |f| %>
  <label>Name:</label>
  <%= f.text_field :name %><br>

  <label>Capital:</label>
  <%= f.text_field :capital %><br>

  <label>Population:</label>
  <%= f.number_field :population %><br>

  <label>Foundation Year:</label>
  <%= f.number_field :foundation_year %><br>

  <label>EU Member:</label>
  <%= f.check_box :eu_membership %><br>

  <label>Membership Year:</label>
  <%= f.number_field :membership_year %><br>

  <%= f.submit %>
<% end %>