<% provide(:title, "Country Information") %>

<h1>Country Infomration</h1>
<%= link_to 'Edit Country', edit_country_path(@country) %>

<%= render partial: 'basic_info', locals: { country: @country } %>

<p>EU Member? <%= @country.eu_membership %> -- <%= link_to 'Change EU Membership', change_membership_path %></p>

<h4>Country Diplomats</h4>

<ul>
  <% @country.diplomats.each do |diplomat| %>
    <li>
      <%= diplomat.name %>
    </li>
  <% end %>
</ul>

<h4>Country Cities</h4>

<ul>
  <% @country.cities.each do |city| %>
    <li>
      <%= link_to city.name, city_path(city) %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to 'View all Countries', countries_path %>