<h1>All Cities</h1>

<ul>
  <% @cities.each do |city| %>
    <li>
      <%= link_to city.name, city_path(city) %> - <%= link_to 'Edit City', edit_city_path(city) %> - <%= link_to 'Delete City', city, method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= render @cities || "There are no cities" %>

<hr>

<%= link_to 'Create a new City', new_city_path %>